# Whether to include magnet links in the mcp.search_torrents() results (thepiratebay.org, nyaa.si, 1337x.to, yts.mx, apibay.org, eztvx.to, fitgirl-repacks.site, subsplease.org, bittorrented.com).
# If unset, defaults to 'false' to greately reduce token usage.
#INCLUDE_LINKS=true

# Comma-separated list of sources to exclude from the mcp.search_torrents() results.
#EXCLUDE_SOURCES=nyaa.si

# Target folder for torrent files (Default: ./torrents).
#FOLDER_TORRENT_FILES=/path/to/target/folder